app/bin
app/build
tests/bin
tests/build
editor/bin
editor/build
workspace

# 3rdparty
3rdparty/glfw/build
3rdparty/glfw/lib
app/config_user.jsc
tools/cjing_build/scripts/__pycache__

# assets
assets/.export
assets/models
assets/content

# vscode
.vscode
app/config_user.jsc
app/config_user.jsc
