app/bin
app/build
tests/bin
tests/build
editor/bin
editor/build
game/bin
game/build
launcher/bin
launcher/build
workspace

# 3rdparty
3rdparty/glfw/build
3rdparty/glfw/lib
app/config_user.jsc
tools/neptuneBuild/scripts/__pycache__

# assets
assets/.export
assets/models
assets/content

# vscode
.vscode
app/config_user.jsc
app/config_user.jsc

# tools
tools/headerTools/bin
tools/headerTools/build